#newbody{
  background: #1d1f21;
}
.custom{
    padding: 37px;
    text-align: center;
    font-size: 54px !important;
    color: red !important;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-style: italic;
}
.custom1{
    color: darkred !important;
    font-size: 33px !important;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: center;
}
.fa-envelope-o{
    content: "\f003";
    color: red;
}
.custom3{
    margin-left:-80px;
}.custom4{
    margin-top:28px;
}
 .coloradd{
     color: #0000cc;
 }
 #imguser
 {
    width: 40px !important;
    height: 40px;
    border-radius: 150px;
 }
.center{
    margin-top: -41px;
}
.thongbao
{
    text-align: center;
    font-size: 20px;
}
.buttuom
{
    font-style:oblique;
    font-weight:bold;
}
.buttuom1
{
    font-style:oblique;
    font-weight:bold;

}
.agileinfo_single
{
    padding: 1em !important ;
}
.edit-magin
{
    margin-bottom: 22px !important;
    color: #4cae4c !important;
}
.fixdangki
{
    margin-top: 41px;
    margin-right: 12px;
}
.fixlogin
{
    margin-right: 12px;
}
.fixrohang {
    margin-left:35px !important;
    margin-top: 4px;
    height: 41px;
    color: greenyellow;
    border: 2px greenyellow solid;
}
.fixdn
{
    padding-top: 3px !important;
    margin-left: 145px;
}
.checkout-Pro
{
    float: right;
}
#quantity-error
{
    color: red;
    margin: 12px;
}
.agile_top_brand_left_grid
{
    margin-bottom: 20px !important;
}
.img-responsive
{
    width: 100%;
}
.glyphicon-trash
{
    color: #00A6C7;
}
.delSale
{
    margin-top: 30px;
}
.responsive {
    margin-right: -40px;
}
.alert-errors
{
    color: red;
    font-size: 16px;
}
.profile_details_drop a
{
    margin-left: 48px !important;
}
.dropdown-menu-right
{
    width: 458px;
    height: 300px;
    overflow: auto;
    border-radius:12px ;
}
.custom-login
{
    right: auto !important;
}
.tag
{
    right: 85%;
}

#profile-img-tag
{
    margin-left: 170px;
    vertical-align: middle;
    margin-top: -67px;
    width: 101px;

}
.fix-padding{
    padding: 21px;
}




